<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com">
  <link rel="preconnect" href="https://fonts.shopifycdn.com">
  {{ content_for_header }} <!-- Header hook for plugins -->
  <style>
    {%- assign font_light = settings.font_primary | font_modify: 'weight', '300' -%}
    {%- assign font_heavy = settings.font_primary | font_modify: 'weight', '700' -%}
    {{ settings.font_primary | font_face }}
    {{ font_light | font_face }}
    {{ font_heavy | font_face }}
  </style>
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}
</head>
<body>
  <main role="main">
    {{ content_for_layout }}
  </main>
</body>
</html>
