<div class="section--hero hero--align--{{ section.settings.text_alignment }}">

  {%- unless section.settings.image.src == blank -%}
    <picture class="hero--background">
      <source srcset="{{ section.settings.image.src | img_url: "1440x500" }}" media="(min-width: 500px)">
      {%- unless section.settings.mobile_image.src == blank -%}
        <source srcset="{{ section.settings.mobile_image.src | img_url: "360x630" }}" media="(max-width: 499px)">
      {%- endunless -%}

      {{ section.settings.image | img_tag: section.settings.image_alt, "", "1440x500" }}
    </picture>
  {%- endunless -%}

  <div class="hero--content">
    <h1 class="hero--heading">{{ section.settings.title | escape }}</h1>

    {%- unless section.settings.copy == blank -%}
      <div class="hero--copy text--lg">{{ section.settings.copy | escape }}</div>
    {%- endunless -%}

    {%- unless section.settings.cta_url == blank or section.settings.cta_text == blank -%}
      <a class="button" href="{{ section.settings.cta_url }}">{{ section.settings.cta_text | escape | upcase }}</a>
    {%- endunless -%}
  </div>

</div>

{% unless section.settings.color == blank %}
  {% style %}
    #shopify-section-{{ section.id }} h1,
    #shopify-section-{{ section.id }} div {
      color: {{ section.settings.color }};
    }
  {% endstyle %}
{% endunless %}

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "header",
        "content": "Images"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "text",
        "id": "image_alt",
        "label": "Image alt text"
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Hero Title"
      },
      {
        "type": "textarea",
        "id": "copy",
        "label": "Copy",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nunc sem, dignissim eget porttitor non, rutrum vestibulum nulla. Mauris at interdum sem, vel commodo metus."
      },
      {
        "type": "header",
        "content": "CTA"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text",
        "default": "Read More"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA Url"
      },
      {
        "type": "header",
        "content": "Settings"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Color",
        "default": "rgba(255,255,255,1)"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      }
    ],
    "presets": [{
      "name": "Hero",
      "category": "Text"
    }]
  }
{% endschema %}
