html,
body,
div,
h1 {
  margin: 0;
}

picture,
img {
  display: block;
  width: 100%;
}

:root {
  /**
   * Typography
   */
  --font-size--base: 16px;
  --font-size--lg: calc(var(--font-size--base) * 1.125);
  --font-size--h1: calc(var(--font-size--base) * 2.25);
  --line-height--h1: calc(var(--font-size--base) * 1.875);
  --: {% assign font_heavy = settings.font_primary | font_modify: 'weight', '700' %};
  --: {% assign font_light = settings.font_primary | font_modify: 'weight', '300' %};
  --font--primary: {{ settings.font_primary.family }};
  --font-weight--normal: {{ settings.font_primary.weight }};
  --font-weight--heavy: {{ font_heavy.weight }};
  --font-weight--light: {{ font_light.weight }};
  /**
   * Colors
   */
  --c--white: #FFFFFF;
  --c--green: #57AD68;
  --c--green: #56ad67;
  --c--slate: #24292e;
  --c--text-primary: var(--c-slate);
}

@media (min-width: 500px) {
  :root {
    --font-size--lg: calc(var(--font-size--base) * 1.5);
    --font-size--h1: calc(var(--font-size--base) * 2.875);
    --line-height--h1: calc(var(--font-size--base) * 2.625);
  }
}

html,
body {
  color: var(--c--text-primary);
  font-family: var(--font--primary);
  font-weight: var(--font--primary--weight);
}

h1 {
  font-size: var(--font-size--h1);
  font-weight: var(--font-weight--heavy);
  line-height: var(--line-height--h1);
}

a {
  text-decoration: none;
  color: var(--c--slate);
}

.text--lg {
  font-size: var(--font-size--lg);
  font-weight: var(--font-weight--light);
  line-height: var(--line-height--h1);
}

.button {
  display: inline-block;
  padding: 20px 50px;
  border-radius: 50px;
  background-color: var(--c--green);
  color: var(--c--white);
  font-size: calc(var(--font-size--base) * 1.25);
  line-height: 1;
  transition: background-color 0.25s ease-in, color 0.25s ease-out;
}

.button:hover {
  color: var(--c--green);
  background-color: var(--c--white);
}

.section--hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-y: hidden;
  padding: 175px 50px;
  color: var(--c--white);
}

.hero--content--wrapper {
  display: flex;
  height: 100%;
}

.hero--heading {
  margin-bottom: 10px;
}

.hero--copy {
  margin-bottom: 30px;
}

.hero--background,
.hero--background img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  z-index: -1;
}

@media (min-width: 500px) {
  .section--hero {
    height: 500px;
    padding: 0 80px;
  }

  .hero--align--left {
    justify-content: flex-start;
    text-align: left;
  }

  .hero--align--right {
    justify-content: flex-end;
    text-align: left;
    padding-right: calc(50% - 560px);
  }

  .hero--content {
    max-width: 750px;
  }

  .hero--align--left .hero--content,
  .hero--align--right .hero--content {
    max-width: 560px;
  }
}