.section--hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-y: hidden;
  padding: 175px 50px;
  color: var(--c--white);
}

.hero--content--wrapper {
  display: flex;
  height: 100%;
}

.hero--heading {
  margin-bottom: 10px;
}

.hero--copy {
  margin-bottom: 30px;
}

.hero--background,
.hero--background img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  z-index: -1;
}

@media (min-width: 500px) {
  .section--hero {
    height: 500px;
    padding: 0 80px;
  }

  .hero--align--left {
    justify-content: flex-start;
    text-align: left;
  }

  .hero--align--right {
    justify-content: flex-end;
    text-align: left;
    padding-right: calc(50% - 560px);
  }

  .hero--content {
    max-width: 750px;
  }

  .hero--align--left .hero--content,
  .hero--align--right .hero--content {
    max-width: 560px;
  }
}
