:root {
  /**
   * Typography
   */
  --font-size--base: 16px;
  --font-size--lg: calc(var(--font-size--base) * 1.125);
  --font-size--h1: calc(var(--font-size--base) * 2.25);
  --line-height--h1: calc(var(--font-size--base) * 1.875);

  --: "{% assign font_heavy = settings.font_primary | font_modify: 'weight', '700' %}";
  --: "{% assign font_light = settings.font_primary | font_modify: 'weight', '300' %}";

  --font--primary: "{{ settings.font_primary.family }}";
  --font-weight--normal: "{{ settings.font_primary.weight }}";
  --font-weight--heavy: "{{ font_heavy.weight }}";
  --font-weight--light: "{{ font_light.weight }}";

  /**
   * Colors
   */
  --c--white: #FFFFFF;
  --c--green: #57AD68; /* Value from spec */
  --c--green: #56AD67; /* Value from sketch */
  --c--slate: #24292E;

  --c--text-primary: var(--c-slate);
}

@media (min-width: 500px) {
  :root {
    --font-size--lg: calc(var(--font-size--base) * 1.5);
    --font-size--h1: calc(var(--font-size--base) * 2.875);
    --line-height--h1: calc(var(--font-size--base) * 2.625);
  }
}
