html, body {
  color: var(--c--text-primary);
  font-family: var(--font--primary);
  font-weight: var(--font--primary--weight);
}

h1 {
  font-size: var(--font-size--h1);
  font-weight: var(--font-weight--heavy);
  line-height: var(--line-height--h1);
}

a {
  text-decoration: none;
  color: var(--c--slate);
}

.text--lg {
  font-size: var(--font-size--lg);
  font-weight: var(--font-weight--light);
  line-height: var(--line-height--h1);
}

.button {
  display: inline-block;
  padding: 20px 50px;
  border-radius: 50px;
  background-color: var(--c--green);
  color: var(--c--white);
  font-size: calc(var(--font-size--base) * 1.25);
  line-height: 1;
  transition: background-color 0.25s ease-in, color 0.25s ease-out;
}

.button:hover {
  color: var(--c--green);
  background-color: var(--c--white);
}
